{% extends "enlace.html" %}
 
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block contenido %}
    <div class="panel right">
        <h1>Pon un tweet!!</h1>
        <p>
            <form action="/submit" method="post">{% csrf_token %}
                {% for field in tweet_form %}
                {{ field }}
                {% endfor %}
                <input type="hidden" value="{{ next_url }}" name="next_url">
                <input type="submit" value="Tweet!">
            </form>    
            
        </p>
    </div>
    
    <div class="panel left">
        <h1>Tweets</h1>
        <h2>
        {% for tweet in tweets %}
            <li class="tweettext">{{ tweet.status }}</li>
            <class="tweettime">{{ tweet.date }}
            
            <p></p>
            <img src="{{ tweet.user.username }}" width="50" height="50" />
            
        {% endfor %}
      
        <h2>{{ des }}</h2>
        
        </h2>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <a href="/usuarios/{{ tweet.user.username }}">
                <img class="avatar" src="{{ tweet.user.profile.gravatar_url }}">
                <span class="name">{{ tweet.user.first_name }}</span>
            </a>
            @{{ tweet.user.username }}
            <p>
                {{ tweet.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}