<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>founbep</title>
    <link rel='stylesheet' href = '{{STATIC_URL}}css/base.css' MEDIA=screen>
    <link rel='shortcut icon' href = '{{STATIC_URL}}img/TwitterAvatar.png'>  
    
</head>
<body>
	<header>		
		{% block titulo %}
		{% endblock %}	
		
		{% block logout %}
		{% endblock %}
	</header>
	<div id="contenido">

		{% block login %}
		{% endblock %}
		
		{% block contenido %}
		{% endblock %}
	</div>
	
	<footer>
        <div class="wrapper">
            founbep Visor de usuarios
           
                <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." />
         
        </div>
    </footer>
</body>
<style>
	body {overflow-x:hidden;}
</style>

</html>