<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>ADB</title>
    <link rel='stylesheet' href = '{{STATIC_URL}}css/base.css'>
    <link rel='shortcut icon' href = '{{STATIC_URL}}img/TwitterAvatar.png'>  
    
</head>
<body>
	<header>
		<div class = "wrapper">
			<div class = "wrapper">
				{% block titulo %}{% endblock %}
				{% block login%}
				<form action="/logout">
				

				<input type="submit" id="btnLogOut" value="Cerrar sesion">
				</form>				
				{% endblock%}			
			</div>
		</div>
	</header>
	<div class ="wrapper">

		{% block flash %}
		{% if auth_form.non_field_errors or user_form.non_field_errors or ribbit_form.errors %}
		<div class="flash error">
			{{ auth_form.non_field_errors }}
			{{ user_form.non_field_errors }}
			{{ ribbit_form.content.errors }}
		</div>
		{% endif %}
		{% if notice %}
		<div class="flash notice">
			{{ notice }}
		</div>
		{% endif %}
		{% endblock %}
		
		{% block contenido %}
		{% endblock %}
	</div>
</body>
</html>