{% extends "enlace.html" %}
	
{% block titulo %}

	<h1> founbep</h1>
	
{% endblock %}

{% block login %}
	
	{% if fallo or fallo2 %}
		<div class="flash error">
			<h3>	{{fallo}}{{fallo2}}  <h3>
			 
		</div>
		
	{% endif %}
	
	{% if  mensaje %}
		<div class="flash exito">
			<h3> {{mensaje}} <h3>
			 
		</div>
		
	{% endif %}



	<div class="panel texto">
		<h2> Bienvenido a founbep</h2>
			
		Cuantas veces habras pensando, eso de "en que trabajara Pedro?"<br></br>
		o, "me gustaria saber las aficiones de Sara"...Conectate a <br></br>
		'Nombre' y podras obtener informacion detallada del usuario 
		que desees! <br></br>
		 
		<br></br>Registrate!
		 
	</div>	
        <div class="panel login">
                <h2> INICIO SESION </h2>
		
		<form action="/login" method="POST"> {% csrf_token %}
			{% for field in log %}
			{{field}}
			{% endfor %}		
			<input type="submit" id="btnLogIn" value="Log In" src="C:\Users\manua_000\Pictures\iconoLogin.jpg">
		</form>
		<p></p>
			
	</div>
			 
{% endblock %}

{% block contenido %}
	<div class="panel new">
			
		<h2> NUEVO POR AQUí? </h2>
					
		
		<form action="/nuevo_usuario" method="post"> {% csrf_token %}
			{% for field in formulario %}
			{{field}}
			{% endfor %}
			<input type="submit"  value="Crear Cuenta" >
		</form>		
							
	</div>
	
	
{% endblock %}

	