{% extends "enlace.html" %}
 
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block contenido %}
    <div class="panel home left">
    </div>
    
    
    <div class="panel home right">
        <br>

                                                   </br>
        <h1>{{datos.nombre}} {{datos.apellido}} </h1>
        
        
        <img src="{{ datos.picture }}" width="100" height="100" />
        
        <h3><a class="first_name">Nombre: {{datos.nombre}}</a></h3>
        <h3><a class="last_name">Apellidos: {{datos.apellido}}</a></h3>
        <h3><a class="location">Ciudad:{{ datos.location}}</a></h3>
        <h3><a class="headline">Centro de estudio: {{ datos.headline}}</a></h3>
        <h3><a class="positions">Experiencia CV: {{datos.positions}}</a></h3>
        

 
        
    </div>
    <div class="panel home center">
            <h3>Tweets</h3>
            {% for tweet in tweets.tweets %}
                <li class="tweettext">{{ tweet.status}}</li>
                <class="tweettime">{{ tweet.date }}
        
                <p></p>
            {% endfor %}
    </div>          
    
{% endblock %}